* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0;}
.mySlides {
    display: none;
    width: 60%;
    margin:auto;    
}
.line1, .line2{
  border: 0.2vw solid #fff;
  background: #fff;
  margin:3vw 0 0 0;
  width: 16vw;
  float: left;
  border-radius: 5px;
}
.line1{ 
  margin-right: 2vw;
}
.line2{
  margin-left: 2vw;
}
h1{
  float: left;
  text-align: center;
  color: #fff;
  font-size: 2.5vw;
}
.head{
  position: relative;
  display: inline-block;
  left: 13%;
}
.mySlides:nth-child(1){display: block;}
img {vertical-align: middle;}
.con{
  background: #000;
  height: 100%;
}
.middle{
  position: relative;
  background: #000;
  float: left;
  width: 80%;
}
.right, .left{
  position: relative;
  background: #fff;
  width: 10%;
  height: 100%;
  float: left;
}

.slideshow-container {  
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50vh;
  height: 5vw;
  width: 5vw;
  border: 0.8vw solid #fff;
  background: #000;
  margin-top: -22px;
  user-select: none;
  transform:rotate(45deg);
  z-index: 100;
}

.next {
  right: 7.4vw;
  padding: 0.5vw 0 0 0.7vw;
}
.prev{
  left: 7.4vw;
  padding: 0.7vw 0 0 0.5vw;
}
.arrow:nth-child(1){
  animation: move 0.7s linear infinite;
  
}
.prev:hover {
  animation: move 0.7s linear infinite;
}
.next:hover{
  animation: move2 0.7s linear infinite;

}

@keyframes move{
  from {left:1.3vw;}
  to {left:0.6vw}
}
@keyframes move2{
  from {right:1.3vw;}
  to {right:0.6vw}
}
.arrow{
  height: 2vw;
  transform:rotate(-45deg);
}
.head_text{
  font-size: 2vw;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.text{
  width: 100%;
  padding: 2% 10%;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}
.dot_text{
  font-size: 1vw;
  color: #fff;
  margin-bottom: 0.5vw;
}
p{
  text-align: left;
  color: #fff;
  text-indent: 2.5em; 
  font-size: 1.2vw;
}

.line{
  height: 0.15vw;
  background: #fff;
  border-radius: 10px;
  bottom: 1.2vw;
  position: relative;
  width: 7vw;
}
.fram{
  position: relative;  
  background: #000;
  top: 5vh;
  height: auto;
}
.headTimeLine{
  margin-bottom: 2vh;
  position: relative;
  width: 100%;
  top: 0px;
}
.timeLine{
  display: inline-block;  
}
.dot {
  cursor: pointer;
  height: 3.2vw;
  width: 3.2vw;
  margin: 0 1vw;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:nth-child(1){background: #717171;}
.vfar{
  height: 1.8vw;
  width: 1.8vw;
  margin-bottom: 0.5vw;
}
.vfar:hover{
  height: 3.2vw;
  width: 3.2vw;
  margin-bottom: 0;  
}
.far{
  height: 2.2vw;
  width: 2.2vw;
  margin-bottom: 0.3vw;  
}
.far:hover{
  height: 3.2vw;
  width: 3.2vw;
  margin-bottom: 0;  
}
.active, .dot:hover {
  
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width:768px){
  .fram{top: 8vh;}
  .mySlides{
    width: 70%;
  }
}
@media screen and (max-width:500px){
  .line{
    height: 1px;
  }
  .head{left: 8%;}  
  h1{font-size: 3.5vw;}
  .line1, .line2{    
    border: 0.2vw solid #fff;
    margin-top: 5%;
  }
  .fram{top: 8vh;}

}
@media screen and (max-width:375px){
  .mySlides{
    width: 80%;
  }
}
@media screen and (max-width:375px){

}
@media screen and (max-width:320px){

  .fram{top: 6vh;}
}